<ion-header >
  <ion-navbar color="app">
    <ion-title>
      {{ 'About us' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background:#45b97c">

</ion-content>
