<ion-header >
  <ion-navbar color="app">
    <ion-title>
      {{ 'Main Menu' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding  style="background:#45b97c">
  
  <ion-grid class="pic">
    <ion-row>
      <ion-col col-2 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;">
        <img src="assets/image/Quran.png" style = "width:100%" (click)="open()">
      </ion-col>
      <ion-col col-1 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;">
        <img src="assets/image/dua.png" style = "width:100%">
        
      </ion-col>
      <ion-col col-2 >

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2 style="padding-top:0px;">

      </ion-col>
      <ion-col col-3.5 style="padding-top:0px;">
        
        <div style="text-align:center;color:white">{{ 'Quran' | translate }}</div>
        
      </ion-col>
      <ion-col col-1 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;padding-top:0px;">
        
        <div style="color:white">{{ 'Dua' | translate }}</div>
      </ion-col>
      <ion-col col-2 style="padding-top:0px;">

      </ion-col>
    </ion-row>

    <ion-row style="margin-top:23px;">
      
      <ion-col col-3.5 style="text-align:center;">
        <img src="assets/image/religion.png" style = "width:100%">
        
        
      </ion-col>
      <ion-col col-5 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;">
        <img src="assets/image/facebook.png" style = "width:100%" (click)="openArticle('https://www.facebook.com/kanateleyoun')"> 
        
      </ion-col>
      
    </ion-row>

    <ion-row>
      
      <ion-col col-3.5 style="padding-top:0px;">
        
        <div style="text-align:center;color:white">{{ 'Prophetic' | translate }}</div>
        
      </ion-col>
       <ion-col col-5 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;padding-top:0px;">
        
        <div style="color:white" (click)="openArticle('https://www.facebook.com/kanateleyoun')">{{ 'facebook' | translate }}</div>
      </ion-col>
      
    </ion-row>

    <ion-row style="margin-top:23px;">
      
      <ion-col col-3.5 style="text-align:center;">
        <img src="assets/image/Youtube.png" style = "width:100%" (click)="openArticle('https://www.youtube.com/user/maboussa')">
        
        
      </ion-col>
       <ion-col col-5 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;margin-top:10px;">
        <img src="assets/image/website.png" style = "width:100%" (click)="openArticle('https://www.eleyoun.com')">
        
      </ion-col>
     
    </ion-row>

    <ion-row>
      
      <ion-col col-3.5 style="padding-top:0px;">
        
        <div style="text-align:center;color:white" (click)="openArticle('https://www.youtube.com/user/maboussa')">{{ 'Youtube' | translate }}</div>
        
      </ion-col>
      <ion-col col-5 >

      </ion-col>
      
      <ion-col col-3.5 style="text-align:center;padding-top:0px;">
        
        <div style="color:white" (click)="openArticle('https://www.eleyoun.com')">{{ 'website' | translate }}</div>
      </ion-col>
     
    </ion-row>

    <ion-row style="margin-top:23px;">
      <ion-col col-2 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;">
        <img src="assets/image/Settings.png" style = "width:100%" (click)='opensettings()'>
        
        
      </ion-col>
      <ion-col col-1 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;">
        <img src="assets/image/about.png" style = "width:100%" (click)='openabout()'>
        
      </ion-col>
      <ion-col col-2 >

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2 style="padding-top:0px;">

      </ion-col>
      <ion-col col-3.5 style="text-align:center;padding-top:0px;">
        
        <div style="color:white" (click)='opensettings()'>{{ 'Settings' | translate }} </div>
        
      </ion-col>
       <ion-col col-1 >

      </ion-col>
      <ion-col col-3.5 style="text-align:center;padding-top:0px;">
        
        <div style="color:white" (click)='openabout()'>{{ 'About us' | translate }}</div>
      </ion-col>
      <ion-col col-2 style="padding-top:0px;">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
